<!DOCTYPE html>
<html lang="en" xml>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/table.css}" rel="stylesheet" />
    <title th:text="${title}"></title>
    <!-- solo de ejemplo -->
</head>

<body>
    <table style="margin-left: auto;margin-right: auto;" class="styled-table">
        <thead>
            <tr>
	      <th th:text="${title}" colspan="4" style="text-align: center"></th>
            </tr>
        </thead>
        <tbody>
	  <tr>
	  <td th:each="item :${employees}">
	      <div class="container">
		<div class="card">
		  <img th:src="@{${item.urlImgEmployee}}" alt="Person" class="card__image">
		  <p class="card__name" th:text="${item.nameEmployee}"></p>
		  <div class="grid-container">

		    <div class="grid-child-posts" th:text="${item.city.nameCity}"> </div>
		    <div class="grid-child-followers" th:text="${item.scheduleEmployee}"> </div>
		    <div class="grid-child-followers" th:text="${item.celEmployee}"> </div>
		    <div class="grid-child-followers" th:text="${item.emailEmployee}"> </div>
		  </div>
	  <a th:href="@{${item.pagWebEmployee}}" class="btn draw-border" target="_blank">Pagina Web</a>
      
        </div>
	</td>
            </tr>

        </tbody>
    </table>

</html>
